<div class='row'>
  <div class='col-sm-12'>
    <div class='panel panel-default' id='errors-panel'>
      <div class="panel-heading">
	<h5><center>Recent Errors (Page <span id="page-number">0</span>)
	</center></h5>
      </div>
      <div class='panel-body panel-body-dashboard'>
	<table class="table table-condensed table-bordered table-dashboard">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Creator</th>
	      <th>When</th>
	      <th>Profile</th>
	      <th>Cluster</th>
	      <th>Reason (Code)</th>
	      <th>View</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% _.each(errors, function(value, key) { %>
	      <tr>
		<% if (value.active) { %>
		  <td><a href="status.php?uuid=<%- value.uuid %>">
		    <%- value.name %></a></td>
		<% }else { %>
		  <td><%- value.name %></td>
		<% } %>
		<td><a href="user-dashboard.php?user=<%- value.creator %>">
		  <%- value.creator %></a></td>
		<td class="format-date"><%- value.created %></td>
		<td><a href="show-profile.php?uuid=<%- value.profile_uuid %>">
		  <%- value.profile_name %></a></td>
		<% if (value.cluster) { %>
		  <td><%- value.cluster %></td>
		<% } else { %>
		  <td>N/A</td>
		<% } %>
		<% if (value.message && value.message != "") { %>
		  <td><span style="text-decoration: underline;"
			    data-toggle='popover'
			    data-delay='{"hide":100, "show":500}'
			    data-html='true'
			    data-uuid="<%- value.uuid %>"
			    data-content=""><%- value.reason %></span></td>
		<% } else { %>
		  <td><%- value.reason %></td>
		<% } %>
		<% if (!value.cluster && value.url) { %>
		  <td><a href="<%- value.url%>" target="_blank">Log</a></td>
		<% } else if (value.active) { %>
		  <td>
		    <a href='status.php?uuid=<%- value.uuid %>' target="_blank">
		      <span class="glyphicon glyphicon-eye-open"></span></a>
		  </td>
		<% } else { %>
		  <td>
		    <a href='memlane.php?uuid=<%- value.uuid %>' target="_blank">
		      <span class="glyphicon glyphicon-eye-open"></span></a>
		  </td>
		<% } %>
	      </tr>
	    <% }); %>
	  </tbody>
	</table>
	<center>
	  <button id='prev-page' style="margin-right: 10px;" disabled
		  class='btn btn-primary btn-sm'>Prev</button>
	  <button id='next-page'
		  class='btn btn-primary btn-sm'>Next</button>
	</center>
      </div>
    </div>
  </div>
</div>
