<style>
 pre {
     white-space: pre-wrap;
 }
 .table-condensed > thead > tr > th,
 .table-condensed > tbody > tr > th,
 .table-condensed > tfoot > tr > th,
 .table-condensed > thead > tr > td,
 .table-condensed > tbody > tr > td,
 .table-condensed > tfoot > tr > td {
     padding: 3px;
 }
</style>
<div class="row">
  <div class='col-lg-8  col-lg-offset-2
       col-md-8  col-md-offset-2
       col-sm-10 col-sm-offset-1
       col-xs-12 col-xs-offset-0'>
    <div class='panel panel-default' id='info-panel'>
      <div class='panel-body'>
	<table class='table table-condensed nospaceafter border-none'>
	  <tr>
	    <td class='border-none'>Name:</td>
	    <td class='border-none'><%- record.name %></td>
	  </tr>
	  <% if (record.profile_uuid) { %>
	    <tr>
	      <td class='border-none'>Profile:</td>
	      <td class='border-none'>
		<a target=_blank
		   href='show-profile.php?uuid=<%- record.profile_uuid %>'>
		  <%- record.profile_name %></a></td>
	    </tr>
	  <% } %>
	  <% if (record.reporef) { %>
	    <tr>
	      <td class='border-none'>RefSpec:</td>
	      <td class='border-none'>
		<span><%= record.reporef %></span>
		(<%= record.repohash %>)
	      </td>
	    </tr>
	  <% } %>
	  <tr>
	    <td class='border-none'>Creator:</td>
	    <td class='border-none'>
	      <a href="user-dashboard.php?user=<%- record.creator_idx %>">
		<%- record.creator %></a></td>
	  </tr>
	  <% if (record.pid) { %>
	    <tr>
	      <% if (record.pid == record.gid) { %>
		<td class='border-none'>Project:</td>
		<td class='border-none'>
		  <a href="show-project.php?pid=<%- record.pid %>">
		    <%- record.pid %></a></td>
	      <% } else { %>
		  <td class='border-none'>Group:</td>
		  <td class='border-none'>
		    <a href="show-group.php?pid=<%- record.pid %>&gid=<%- record.gid %>">
		      <%- record.pid %>:<%- record.gid %></a></td>
	      <% } %>
	    </tr>
	  <% } %>
	  <tr>
	    <td class='border-none'>Created:</td>
	    <td class='border-none format-date'><%- record.created %></td>
	  </tr>
	  <tr>
	    <td class='border-none'>Destroyed:</td>
	    <td class='border-none'>
	      <span class='format-date'><%- record.destroyed %></span>
	    </td>
	  </tr>
	</table>
	<div class='pull-left'>
	  <a class='btn btn-info btn-xs pull-left hidden'
             style='margin-right: 10px;'
	     id='sliverinfo_button'
             href='#'
	     target='_blank'
             type='button'>Logs</a>
	  <div id='sliverinfo_dropdown' class='hidden'>
	    <select style='margin-right: 0px;'>
	      <option value='selectme'>Logs</option>
	    </select>
	    <a class='btn btn-info btn-tiny'
	       style='margin-right: 10px;'
	       href='#'
	       target='_blank'
	       type='button'>Go</a>
	  </div>
	</div>
	<div class='pull-left'>
	  <a class='hidden'
             style='margin-right: 10px;'
	     id='logfile_button'
             href='#'
	     target='_blank'
             type='button'>Stitcher</a>
	</div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <!-- Add a hidden div for errors returned by the instantiation. -->
  <div class='row hidden' id='error_panel'>
    <div class='col-lg-8  col-lg-offset-2
		col-md-8  col-md-offset-2
		col-sm-10 col-sm-offset-1
		col-xs-12 col-xs-offset-0'>
      <div class="panel panel-danger">
	<div class="panel-heading">
          <center><h4 class="panel-title">Error Message</h4></center>
	</div>
	<div class="panel-body"><code style="white-space: pre-wrap"
				      id="error_panel_text"></code>
	</div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-lg-12  col-lg-offset-0
	      col-md-12  col-md-offset-0
	      col-sm-12  col-sm-offset-0
	      col-xs-12  col-xs-offset-0'>
    <div class='panel panel-default invisible' id='showtopo_container'>
      <div class='panel-body'>
	<div id='quicktabs_div'>
	  <ul id='quicktabs_ul' class='nav nav-tabs'>
	    <li class='hidden'>
              <a href='#topology' data-toggle='tab'>Topology View</a>
            </li>
	    <li class='hidden'>
              <a href='#listview' data-toggle='tab'>List View</a>
            </li>
	    <li class="active">
              <a href='#rspec' id='show_rspec_tab'
		 data-toggle='tab'>Rspec</a>
            </li>
	    <li class='hidden'>
              <a href='#manifest' id='show_manifest_tab'
		 data-toggle='tab'>Manifest</a>
            </li>
	  </ul>
	  <div id='quicktabs_content' class='tab-content'>
            <div class='tab-pane hidden' id='topology'>
	      <div id='showtopo_statuspage' class='jacks'></div>
	    </div>
            <div class='tab-pane hidden' id='listview'>
	      <div id='showtopo_listview'>
		<table class='table table-striped table-hover table-condensed'
                       id='listview_table'>
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Node</th>
                      <th>Type</th>
                      <th>Image</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
		</table>
              </div>
            </div>
	    <div class='tab-pane active' id='rspec'>
              <div id='rspec_textarea' style='width: 100%;'></div>
	    </div>
	    <div class='tab-pane hidden' id='manifest'>
              <div id='manifest_textarea' style='width: 100%;'></div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div id='waitwait_div'></div>
  <div id='oops_div'></div>
</div>
