<div>
  <div id='<%- graphid %>'>
    <div class='col-xs-12 col-xs-offset-0'>
      <div class='panel panel-default'>
	<div class="panel-heading">
	  <center>
	    <h3 class="panel-title">
	      <% if (showfullscreen) { %>
		<a href="#" class="resusage-fullscreen">
		  <span style="margin-right: 10px;"
			class='glyphicon
			       glyphicon-fullscreen pull-right'></span>
		</a>
	      <% } %>
	      Reservation Usage
	    </h3>
	  </center>
	</div>
	<div class='panel-body' style="padding: 2px;">
	  <!-- The col setting gives us a "relative" position div -->
	  <div class='col-xs-12 col-xs-offset-0'
	       style="padding:0px;">
	    <div class='resgraph-size resgraph'>
	      <svg class="resgraph"></svg>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
  <div class='modal fade' id="resusage-modal">
    <div class='modal-dialog'>
      <div class='modal-content'>
	<div class='modal-body'>
	  <div class='panel panel-default'>
	    <div class="panel-heading panel-heading-list">
              <button type='button' class='close' data-dismiss='modal'
                      aria-hidden='true'>&times;</button>
	      <center>
		<h5>Reservation Usage</h5>
	      </center>
	    </div>
	    <div class='panel-body panel-body-dashboard'>
	      <svg style="height: 75%; padding: 0px;"></svg>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>

